

/*@media screen and (min-width: 500px) and (max-width: 1000px;) {}
  .bg-img {
    height: 25em;
  }
}*/



@media screen and (max-width: 770px) {
  .features{
    text-align: center;
  }
}


@media screen and (max-width: 770px) {
  .middlelogo{
      text-align: center;
  }
}


@media screen and (max-width: 770px) {

  .bg-img {
    height: 20em;
  }

  .logo2 img {
    width: 80%;
}
}


@media screen and (max-width: 1200px) {

.panel {
    padding: 25px 40px;
    width: 100%;
}
}

@media screen and (max-width: 1000px) {
  .heightline{
  line-height: 100%;
}

}
